<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325282180541-tq50pt22krhap4s6sfm147hmo8abpb34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325282180541-tq50pt22krhap4s6sfm147hmo8abpb34</string>
	<key>API_KEY</key>
	<string>AIzaSyDMMSQaGjqP57_WQ6slFvBb0irPsPTRmTU</string>
	<key>GCM_SENDER_ID</key>
	<string>325282180541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mojTask</string>
	<key>PROJECT_ID</key>
	<string>moj-ksa-task</string>
	<key>STORAGE_BUCKET</key>
	<string>moj-ksa-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325282180541:ios:e752a581212b114a4676d4</string>
</dict>
</plist>